.about {
  background-color:rgb(197, 196, 196);
  padding: 5rem 10%;
}

.about-content {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.about-text {
  flex: 2;
}

.about-text p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.skills-container {
  flex: 1;
}

.skill-item {
  margin-bottom: 1.5rem;
}

.skill-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skill-bar {
  height: 10px;
  background-color: #faf3f3;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .skills-container {
    width: 100%;
  }
}